body {
	margin: 0;
}
ul{ list-style-type: none;
	margin: 0;
	padding: 0;
    width: 200;
	background-color:#008080;
	height: 100%;
	position: absolute;
	overflow: auto;

  }
li a {display: block;
	  color: lightgrey;
	  width: 29%;
	  padding: 10px 25px;
	 }
li a:hover{
	background-color: lightskyblue;
	color: black;
	width: 100%;
}
li a.active {
	background-color: pink;
	color: black;
	width: 100%;
}
li{
	text-align: center;
border-bottom: 2px solid whitesmoke;}

li:last-child {
	border-bottom: none;}

.rel{position: absolute;
   top: 20px;
   left: 600px;
   text-align: center;
   color: black;}
div {
	width: 100px;
	height: 100px;
	position: relative;
	background-color: red;
	animation-name: example;
	animation-duration: 2s;
	animation-delay: 1s;
	animat-iteration-count: infinite;
	animation-direction: alternate-reverse;

}

@keyframes example {
0% {background-color: red;left: 0px;top: 0px;}
25%
